{% extends 'base.html' %}
{% block title %}
Bloggy | Log in
{% endblock title %}
{% block main %}
<!-- Page header -->
<header>
  <div class="login-hero center-align">
    <div class="row">
      <h3 class="login-greeting">Edit {{current_user}}'s profile</h1>
    </div>
  </div>
</header>
<main>
  <!-- Flash messages section -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes center-align">
    {% for message in messages %}
    <li class="flash-message">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <!-- Login form -->
  <div class="row">
    <form method="POST" action="{{ url_for('user.edit_user') }}" class="col s12 m6 offset-m3 login-form">
      {{ form.csrf_token }}
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          {{form.existing_password}}
          {% if form.existing_password.errors %}
          <ul class="center-align">{% for error in form.existing_password.errors %}<li style="font-size: small; color: #F1007C;">
              {{ error }}</li>{% endfor %}</ul>
          {% endif %}
          <label for="icon_prefix">Current password</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          {{form.new_password}}
          {% if form.new_password.errors %}
          <ul class="center-align">{% for error in form.new_password.errors %}<li style="font-size: small; color: #F1007C;">
              {{ error }}</li>{% endfor %}</ul>
          {% endif %}
          <label for="password">New password</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          {{form.confirm_new_password}}
          {% if form.confirm_new_password.errors %}
          <ul class="center-align">{% for error in form.confirm_new_password.errors %}<li style="font-size: small; color: #F1007C;">
              {{ error }}</li>{% endfor %}</ul>
          {% endif %}
          <label for="password">Confirm new password</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          {{form.blog_description(value=current_blog_description)}}
          {% if form.blog_description.errors %}
          <ul class="center-align">{% for error in form.blog_description.errors %}<li style="font-size: small; color: #F1007C;">
              {{ error }}</li>{% endfor %}</ul>
          {% endif %}
          <label for="password">Blog description</label>
        </div>
        <div class="col s12 center-align">
          <button class="btn waves-effect bloggy-button" type="submit" name="action">Save changes</button>
          </p>
        </div>
      </div>
    </form>
  </div>
  </div>
</main>
{% endblock %}