{% extends 'base.html' %}
{% block title %}
Bloggy | {{post.title}}
{% endblock title %}
{% block main %}
<header>
  <!-- Post title -->
      <div class="row title">
        <h2 class="post-title">{{post.title}}</h2>
      </div>
  </header>
  <!-- Post content -->
  <main>
    <div class="row">
      <div class="image-container">
        <img class="materialboxed" width="100%" src="{{post.image_url}}" alt="Image for {{ post.title }}">
      </div>
      <div class="post-content">
        {{post.body|safe}}
      </div>
      <div class="col s12 l6 offset-l3 author-info">
        <div class="card-panel">
          <div class="row valign-wrapper">
            <div class="col s2 center-align">
              <img src="{{ url_for('static', filename='img/profile_image.svg') }}" alt="" class="responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <h5>
                Author:
                {{creator.username}}
              </h5>
              <a href="">Visit their profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}