{% extends 'base.html' %}
{% block title %}
Bloggy | {{post.title}}
{% endblock title %}
{% block main %}
<header>
  <!-- Post title -->
  <div class="row title">
    <div class="col s12 l9">
      <h2 class="post-title">{{post.title}}</h2>
    </div>
    <div class="col s12 l3 hide-on-med-and-down">
      <div class="card-panel author-card">
        <div class="row valign-wrapper">
          <div class="col s4 center-align">
            <img src="{{creator.profile_img_url}}" alt="" class="circle responsive-img">
          </div>
          <div class="col s8">
            <h5>
              Author: {{creator.username}}
            </h5>
            <a href="{{url_for('profile.profile_page', username=creator.username)}}">Visit their profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post content -->
<main>
  <div class="row">
    <div class="image-container">
      <img class="materialboxed" width="100%" src="{{post.image_url}}" alt="Image for {{ post.title }}">
    </div>
  </div>
  <div class="row container">
    <div class="post-content">
      {{post.body|safe}}
    </div>
  </div>
  <div class="row center-align hide-on-large-only">
    <div class="col s12 l3">
      <div class="card-panel author-card">
        <div class="row valign-wrapper">
          <div class="col s3 center-align">
            <img src="{{creator.profile_img_url}}" alt="" class="circle responsive-img">
          </div>
          <div class="col s9">
            <h5>
              Author: {{creator.username}}
            </h5>
            <a href="{{url_for('profile.profile_page', username=creator.username)}}">Visit their profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}