{% extends 'base.html' %}
{% block title %}
Bloggy | Register
{% endblock title %}
{% block main %}
<header>
  <div class="login-hero center-align">
    <div class="row">
      <h3 class="login-greeting">Hey there creator! Let's get you started!</h1>
    </div>
  </div>
</header>
<main>
  <div class="row">
    <form method="POST" action="{{ url_for('register') }}" class="col s12 m6 offset-m3 login-form">
      {{ form.csrf_token }}
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          {{ form.username }}
          {% if form.username.errors %}
          <ul class="center-align">{% for error in form.username.errors %}<li style="font-size: small; color: #F1007C;">{{ error }}</li>{% endfor %}</ul>
          {% endif %}
          <label for="icon_prefix">Username</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">mail</i>
          {{ form.email }}
          {% if form.email.errors %}
          <ul class="center-align">{% for error in form.email.errors %}<li style="font-size: small; color: #F1007C;">{{ error }}</li>{% endfor %}</ul>
          {% endif %}
          <label for="icon_prefix">Email</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          {{ form.blog_name }}
          {% if form.blog_name.errors %}
          <ul class="center-align">{% for error in form.blog_name.errors %}<li style="font-size: small; color: #F1007C;">{{ error }}</li>{% endfor %}</ul>
          {% endif %}
          <label for="icon_prefix">Blog name</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          {{ form.blog_description }}
          {% if form.blog_description.errors %}
          <ul class="center-align">{% for error in form.blog_description.errors %}<li style="font-size: small; color: #F1007C;">{{ error }}</li>{% endfor %}</ul>
          {% endif %}
          <label for="icon_prefix">Blog description</label>
          <p class="small center-align">Give us a very brief description of what your blog's about</p>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          {{ form.password }}
          {% if form.password.errors %}
          <ul class="center-align">{% for error in form.password.errors %}<li style="font-size: small; color: #F1007C;">{{ error }}</li>{% endfor %}</ul>
          {% endif %}
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          {{ form.confirm_password }}
          {% if form.confirm_password.errors %}
          <ul class="center-align">{% for error in form.confirm_password.errors %}<li style="font-size: small; color: #F1007C;">{{ error }}</li>{% endfor %}</ul>
          {% endif %}
          <label for="confirm_password">Repeat Password</label>
        </div>
        <div class="input-field col s12 center-align">
          {{ form.recaptcha }}
        </div>
        <div class="col s12 center-align">
          <button class="btn waves-effect register-button" type="submit" name="action">Register account</button>
          <p>Already registered with us? Click <a href="{{ url_for('login') }}">here</a> to log in</p>
        </div>
      </div>
    </form>
  </div>
</main>
{% endblock %}