{% extends 'base.html' %}
{% block title %}
Bloggy | Home
{% endblock title %}
{% block main %}
{% block external_css %} 
<!-- Fontawesome CDN only used for footer icons -->
<script src="https://kit.fontawesome.com/2f59828723.js" crossorigin="anonymous"></script>
{% endblock external_css %}
<!-- Page header -->
<header>
    <!-- Flash messages section -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row center-align">
        <div class="col s12">
            <ul class="flashes">
                {% for message in messages %}
                <li class="flash-message">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <!-- Hero/Jumbotron section -->
    <div class="row index-hero">
        <div class="valign-wrapper">
            <div class="col s12 m6 l7 hide-on-small-only">
                <h1>Home of the blogs you love.</h1>
                {% if session.user != Null %}
                <a class="waves-effect btn-large bloggy-button" href="{{ url_for('new_post') }}">Write a new post</a>
                {% endif %}
                {% if session.user == Null %}
                <a class="waves-effect btn-large bloggy-button" href="{{ url_for('login') }}">Start creating</a>
                {% endif %}
            </div>
            <div class="col s12 m6 l5 hide-on-small-only">
                <img src="{{ url_for('static', filename='img/index-background.svg') }}" alt="">
            </div>
        </div>
    </div>
    <div class="row show-on-small hide-on-med-and-up center-align">
        <div class="col s12 m6 l7">
            <h1>Home of the blogs you love.</h1>
            {% if session.user != Null %}
            <a class="waves-effect btn-large bloggy-button" href="{{ url_for('new_post') }}">Write a new post</a>
            {% endif %}
            {% if session.user == Null %}
            <a class="waves-effect btn-large bloggy-button" href="{{ url_for('login') }}">Start creating</a>
            {% endif %}
        </div>
</header>
<main>
    <!-- Search and filter -->
    <div class="row search-field center-align">
        <form class="col s12 l6 offset-l3" method="POST" action="{{url_for('search')}}">
            <div class="input-field">
                <input id="search" type="search" name="search" required>
                <label class="label" for="search">Search for blog posts...</label>
                <button class="waves-effect waves-light btn bloggy-button" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12 l4 offset-l4">
            <form action="{{url_for('index')}}", method="POST">
                <select name="sort">
                    <option value="" disabled selected>Sort posts by:</option>
                    <option value="1">Most recent first</option>
                    <option value="2">Oldest first</option>
                    <option value="3">Title (A-Z)</option>
                    <option value="3">Title (Z-A)</option>
                </select>
            </form>
        </div>
    </div>
    <!-- All posts cards section -->
    <div class="row">
    {% if posts.count() > 0 %}
    {% for post in posts %}
        <div class="col s12 l4">
            <div class="card card-panel hoverable">
                <div class="card-image center-align">
                    <img src="{{post.image_url}}" class="card-img">
                </div>
                <div class="card-content">
                    <h4 class="card-title">{{post.title}}</h4>
                    <p>{{post.description}}</p>
                    <p class="read-time">{{post.read_time}}</p>
                </div>
                <div class="card-action">
                    <a href="{{url_for('post_page', post_id=post._id)}}" class="card-link">Read</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if posts.count() == 0 %}
        <div class="center-align">
            <h3>No posts found</h3>
        </div>
        {% endif %}
    </div>
    <!-- Pagination -->
    <div class="row center-align">
        {% if posts.count() > 1%}
        {{ pagination.info }}
        {% endif %}
        {{ pagination.links }}
    </div>
</main>
{% endblock %}
<!-- Footer -->
{% block footer %}
<footer class="page-footer center-align">
    <div class="footer-copyright">
      <div class="container">
      © 2020 Ivan Branimir Skoric
      <br>
      <a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/ivan-branimir-skoric-2804b2123/"><i class="fab fa-linkedin"></i></a>
      <a class="grey-text text-lighten-4" href="https://github.com/ib-skoric"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </footer>
{% endblock footer %}