{% extends 'base.html' %}
{% block title %}
Bloggy | User
{% endblock title %}
{% block main %}
<header>
  <!-- Flash messages section -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="row center-align">
    <div class="col s12">
      <ul class="flashes">
        {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% endwith %}
  <!-- Header section -->
  <div class="login-hero">
    <div class="row profile">
      <div class="card-panel profile-card">
        <div class="row valign-wrapper">
          <div class="col s12 m2 l1 center-align">
            <img src="{{user.profile_img_url}}" alt="" class="circle responsive-img">
          </div>
          <div class="col s12 m16 l11">
            <h4>
              {{blog.title}}
            </h4>
            <p>{{blog.description}}</p>
          </div>
          <div class="col s12 m4 right-align controls hide-on-small-only">
            <a class="waves-effect btn bloggy-button right-align profile-controls"
              href="{{ url_for('post.new_post') }}">Write new post</a>
            <a class="waves-effect btn bloggy-button right-align profile-controls"
              href="{{ url_for('user.edit_user') }}">Edit profile</a>
          </div>
        </div>
      </div>
      <div class="row show-on-small hide-on-med-and-up">
        <div class="col s12 center-align">
          <a class="waves-effect btn bloggy-button right-align profile-controls"
              href="{{ url_for('post.new_post') }}">Write new post</a>
            <a class="waves-effect btn bloggy-button right-align profile-controls"
              href="{{ url_for('user.edit_user') }}">Edit profile</a>
        </div>
      </div>
</header>
<!-- User's posts cards section -->
<main>
  <div class="row">
    {% for post in users_posts %}
    <div class="col s12 l4">
      <div class="card card-panel hoverable">
        <div class="card-image center-align" style="background-image: url({{post.image_url}})">
          <img src="{{post.image_url}}" class="card-img">
        </div>
        <div class="card-content">
          <h4 class="card-title">{{post.title}}</h4>
          <p class="truncate">{{post.description}}</p>
          <p class="read-time">{{post.read_time}} minute(s), {{post.views}} views</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('post.post_page', post_id=post._id)}}" class="card-link">Read</a>
          <a href="{{url_for('post.edit_post', post_id=post._id)}}" class="card-link">Edit</a>
          <a href="#modal1" class="red-text text-darken-1 modal-trigger">Delete</a>
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>Are you sure?</h4>
              <p>Once you delete this post, you will not be able to restore it again</p>
            </div>
            <div class="modal-footer">
              <a href="{{url_for('post.delete_post', post_id=post._id)}}"
                class="modal-close red-text text-darken-1 ">Delete</a>
              <a href="" class="modal-close card-link">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Pagination -->
  <div class="row center-align">
    {% if users_posts.count() > 1 %}
    {{ pagination.info }}
    {% endif %}
    {{ pagination.links }}
  </div>
</main>

{% endblock %}