/* * Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/* * Global font setting and overflow hide */
html, body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

/* * Navbar styling */
nav {
    background-color: white;
    box-shadow: none;
    line-height: 80px;
}

/* Logo styles */
nav img {
    padding: 7% 0 0 7%;
}

nav ul a {
    color: black;
}

nav ul a:hover {
    color: #1585E2;
    background-color: white;
}

/* Push login/register futher right */
nav ul a.login-register {
    margin-left: 50px;
}

/* Change hamburger menu colour */
nav .material-icons {
    color: black;
}

/* Mobile menu logo width */
img.sidemenu-logo {
    width: 50%;
}


hr.sidemenu-hr {
    width: 85%;
}

.search-field {
    padding-top: 50px;
    margin-bottom: 0;
}

/* * Index.html syles */

.index-hero {
    padding-top: 50px
}

.index-hero h1 {
    font-size: 4rem;
    padding-top: 10%
}

.index-hero img {
    height: 50vh;
}

/* label focus color for materialize input */
.input-field input[type=text]:focus + label {
    color:#1585E2 !important;
  }

/* label underline focus color for materialize input  */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #1585E2 !important;
    box-shadow: 0 1px 0 0 #000;
  }

.page-footer {
    background-color: #1585E2;
    color: white;
    padding: 20px 0 20px 0;
}

.page-footer .footer-copyright {
    background-color: transparent;
}

.page-footer .fab {
    font-size: 2rem;
    padding: 10px
}

/* * Blog posts styles */

.card .card-content h4 {
    font-weight: 700;
}

.card .read-time {
    color: #7d7d7e;
    padding-top: 10px;
}

.card-action .card-link {
    color: #1585E2 !important;
}

.card-image img {
    object-fit: cover;
    height: 20vw;
}

/* * Login/register page styles */

.login-greeting {
    padding-top: 2rem;
}

.login-form i {
    color: #1585E2;
}
/* label focus color for materialize input*/
.input-field input[type=password]:focus + label {
    color:#1585E2 !important;
  }

/* label underline focus color for materialize input*/
.input-field input[type=password]:focus {
    border-bottom: 1px solid #1585E2 !important;
    box-shadow: 0 1px 0 0 #000;
  }

/* icon prefix colour for materialize input */
.input-field .prefix.active {
    color: #1585E2;
  }

.bloggy-button {
    background-color: #1585E2;
}

.bloggy-button:hover {
    background-color: #F1007C;
}

p.small {
    font-size: small;
    color: #7d7d7e;
    margin: 0;
}

.flash-message {
    text-align: center;
    color: #1585E2;
}

.g-recaptcha {
    display: inline-block;
}

/* * User page styles */

.new-post-title {
    font-size: 32px !important;
    font-family: 'Noto Sans KR', sans-serif;
}

.profile-controls {
    margin-top: 20px;
}

/* * Single post page styles */

.title,
.post-content {
    margin-bottom: 0;
    margin-left: 10px
}

.post-title {
    margin-top: 75px;
}

.image-container {
    height: 50vh;
    margin: 0;
    overflow: hidden;
    margin: 10px;
    border-radius: 20px;
}

.author-info {
    margin-top: 50px;
}

.author-card {
    background-color: white;
    border: none;
    box-shadow: none;
    margin-top: 25px;
    margin-bottom: 0;
}

img.circle {
    object-fit: cover;
    width: 75px;
    height: 75px;
}

/* * Blog/profile page styles */

.profile {
    margin: 0;
    padding: 0;
}

.profile-card {
    background-color: white;
    border: none;
    box-shadow: none;
    margin: 10px 0 0 0;
    padding: 24px 0 0 0;
}

/* ! Required CSS For Flask-paginate */

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.pagination>ul>li.active {
    background-color: #F1007C;
}

ul.select-dropdown>li>span {
    color: #1585E2;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #1585E2; 
}

/* * Custom media queries for smaller devices */
@media only screen and (max-width: 600px) {
    nav {
        margin: 2.5% 0 0 0;
    }
    nav img {
        width: 80%;
        text-align: center;
    }
    .index-hero h1 {
        text-align: center;
        display: block;
    }
    .index-hero {
        background-image: url('/static/img/index-background.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding-top: 30vh;
        margin-top: 5%;
    }
    .mobile-hero h1 {
        font-size: xx-large;
        text-align: center;
    }
    .search-button {
        margin-top: 10px;
    }
    .search-field {
        padding-top: 0;
        margin-bottom: 0;
    }
    h1 {
        font-size: 3rem;
    }
    .card-image img {
        object-fit: cover;
        height: 50vw;
    }
    .login-hero>.row>.greeting,
    .login-hero>.row>.controls {
        text-align: center;
    }
    .image-container {
        height: 100%;
    }
    .post-content {
        padding: 0 20px 0 20px;
        margin: 0
    }
}