/* * Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/* * Global font setting */
html, body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

/* * Navbar styling */
nav {
    background-color: white;
    box-shadow: none;
    line-height: 80px;
}

nav img {
    padding: 7% 0 0 7%;
}

nav ul a {
    color: black;
}

nav ul a:hover {
    color: 1585E2;
    background-color: white;
}

nav ul a.login-register {
    margin-left: 50px;
}

nav .material-icons {
    color: black;
}

img.sidemenu-logo {
    width: 50%;
}

hr.sidemenu-hr {
    width: 85%;
}

/* * Index.html syles */

.index-hero {
    padding-top: 50px
}

.index-hero h1 {
    font-size: 4rem;
    padding-top: 10%
}

.index-hero img {
    height: 50vh;
}

  /* label focus color */
  .input-field input[type=text]:focus + label {
    color:#1585E2 !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #1585E2 !important;
    box-shadow: 0 1px 0 0 #000;
  }

.search-button {
    background-color: #1585E2;
}

.search-button:hover {
    background-color: #F1007C
}

/* * Blog posts styles */

.recommended-blogs {
    margin-top: 3rem;
    margin-bottom: 1rem
}

.recommended-hr {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    background-color: #1585E2
}

.card .card-image img {
    display: inline;
    height: 50%;
}

.card .card-content h4 {
    font-weight: 700;
}

.card .read-time {
    color: #7d7d7e;
    padding-top: 10px;
}

.card-action .read-link {
    color: #1585E2 !important;
}

/* * Custom media queries for smaller devices */
@media only screen and (max-width: 600px) {
    nav {
        margin: 2.5% 0 0 0;
    }
    nav img {
        width: 80%;
        text-align: center;
    }
    .index-hero h1 {
        text-align: center;
        display: block;
    }
    .index-hero {
        background-image: url('/static/img/index-background.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding-top: 30vh;
        margin-top: 5%;
    }
    .mobile-hero h1 {
        font-size: xx-large;
        text-align: center;
    }
    .search-button {
        margin-top: 10px;
    }
    .search-field {
        margin-bottom: 0;
    }

}